<!-- <div class="container">
    <table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let brand of brands">
            <td>{{brand.id}}</td>
            <td>{{brand.name}}</td>
        </tr>
    </tbody>
</table>
</div> -->

<div class="card">
 <div class="card-body">
    <h5 class="card-title">Brands</h5>
 </div>
 <ul class="list-group">
    <li routerLink="/cars" [class]="getAllBrandClass()" (click)="clearBrands()">Tüm Markalar</li>
    <li [class]="getCurrentBrandClass(brand)" (click)="setCurrentBrand(brand)" 
    routerLink="/cars/brand/{{brand.id}}" *ngFor="let brand of brands">{{brand.name}}</li>
 </ul>
</div>